<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>
    <link rel="stylesheet" href="/css/herosection.css">
</head>
<body>
    <head>
        <nav>
            <div class="navContainer">
                <div class="logoContainer">
                    <div class="logo">Connect <span>Pro</span></div>
                </div>
                <div class="linkContainer">
                    <div class="allLinks" id="allLinks">
                        <div class="addTask">
                            <button  id="Home">Home</button>
                        </div>
                        <div class="nextmeet" id="See" >
                           <button>Next Meet</button>
                        </div>
                        <div class="descover" id="Pending" >
                            <button>Descover</button>
                        </div>
                        <div class="completedTask" id="Complete" >
                            <button>Why us?</button>
                        </div>
                        <div class="support">
                            <button>Support</button>
                        </div>
                    </div>
                    <div class="showNavbar Show"></div>
                    <div class="toggelDiv">
                        <button id="toggelButtonContent" >More</button>
                    </div>
                </div>
            </div>       
        </nav>
    </head>
  
    <div class="Mainherosection">
        <div class="herosectionheadingcontainer">
            <div class="herosectionmainHeadingbox">
                <h3>Build Your Network<br> Shape Your Career.</h3>
            </div>
            <div class="herosectionmainimpactheadingline">
                <p>Share your innovative ideas, showcase your greatest achievements, <br> and seamlessly connect with like-minded professionals to unlock endless opportunities
                </p>
            </div>
            <div class="joinButtonConatiner">
                <button>Join Today</button>
            </div>
        </div>
        <div class="herosectionimageContainer">
                 <div class="herosectionmainimagebox">
                    <div class="heromainimage"></div>
                 </div>
        </div>
    </div>

    <script src="/javascript/herosection.js"></script>
</body>
</html>