<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p>&copy; 2024 MyWebsite. All rights reserved.</p>
        </div>
        <div class="footer-right">
            <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
        </div>
    </div>
</footer>